*{
   padding: 0;
   margin: 0;
   outline: 0;
   box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  :root{
      --header-color:#181818;
      --button-color:#FD6E0A;
      --text-color:#757575;
  }
  /* header part start */
  #header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
  }
  nav h3{
    font-size: 45px;
    font-weight: 800;
    color: var(--header-color);
    letter-spacing: 0%;
}
nav h3 .r-design{
    color: var(--button-color);
}
  nav ul{
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
  }
  nav ul li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #474747;
    text-decoration: none;
    text-transform: capitalize;
    transition: all linear 0.2s;
  }
  nav ul li a:hover{
     color: var(--button-color);
  }
  .common-btn{
    background-color: #FD6E0A;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: auto;
    padding: 18px 34px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
  }
  /* banner par start */
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px ;
  }
  .banner-text{
    max-width: 560px;
  }
  .banner-text .banner-gretting{
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    color: #474747;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .banner-text .banner-title{
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    color: var(--header-color);
    line-height:100% ;
    letter-spacing: 0%;
    margin: 25px 0;
  }
  .banner-text .banner-discription{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 25px;
    letter-spacing: 0%;
    margin-bottom: 15px;
  }
  .banner-text .banner-second-btn{
    background-color: transparent;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    margin-left: 20px;
    transition: all linear 0.3s;
  }
  .banner-text .banner-second-btn:hover{
    background-color: var(--button-color);
    color: #ffffff;
    border: 1px solid transparent;
    transition: all linear 0.3s;
  }
  .banner-image{
    width: 585px;
  }
  .banner-image img{
    width: 100%;
    height: inherit;
  }
  /* header part end */