*{
   padding: 0;
   margin: 0;
   outline: 0;
   box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  :root{
      --header-color:#181818;
      --button-color:#FD6E0A;
      --text-color:#757575;
  }
  .section-title{
    font-size: 35px;
    font-weight: 600;
    color: var(--header-color);
    line-height: auto;
    letter-spacing: 0%;
  }
  .section-description{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 0%;
    line-height: 25px;

  }
  /* header part start */
  #header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
  }
  nav h3{
    font-size: 45px;
    font-weight: 800;
    color: var(--header-color);
    letter-spacing: 0%;
}
nav h3 .r-design{
    color: var(--button-color);
}
  nav ul{
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
  }
  nav ul li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #474747;
    text-decoration: none;
    text-transform: capitalize;
    transition: all linear 0.2s;
  }
  nav ul li a:hover{
     color: var(--button-color);
  }
  .common-btn{
    background-color: #FD6E0A;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: auto;
    padding: 18px 34px;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    text-transform: capitalize;
  }
  /* banner par start */
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px ;
  }
  .banner-text{
    max-width: 560px;
  }
  .banner-text .banner-gretting{
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    color: #474747;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .banner-text .banner-title{
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    color: var(--header-color);
    line-height:100% ;
    letter-spacing: 0%;
    margin: 25px 0;
  }
  .banner-text .banner-description{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 25px;
    letter-spacing: 0%;
    margin-bottom: 15px;
  }
   .banner-text .banner-first-btn{
    display: inline-flex;
    gap: 5px;                                                   
   }
  .banner-text .banner-second-btn{
    background-color: transparent;
    color: var(--button-color);
    margin-left: 20px;
    transition: all linear 0.3s;
  }
  .banner-text .banner-second-btn:hover{
    background-color: var(--button-color);
    color: #ffffff;
    border: 1px solid transparent;
    transition: all linear 0.3s;
  }
  .banner-image{
    width: 585px; 
  }
  .banner-image img{
    width: 100%;
    height: inherit;
  }
  /* header part end */
  /* main part start */
  main{
    width: 1140px;
    margin: 0 auto;
  }
  /* about part start */
  .about{
    margin: 150px 0;
    background-color: #ffffff;
  }
  .about-part{
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    text-align: center;
    margin: 0 auto;
  }
  .about-part .about-text p{
    padding: 20px 0;
  }
  .about-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .about-items .about-item .items-title{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .about-items .about-item .items-description{
    font-size: 16px;
    font-weight: 600;
    color: var(--header-color);
    text-transform: capitalize;
    padding-top: 10px;
  }
  /* about part end */
  /* skills part start */
  skills{
    background-color: #ffffff;
  }
  .skills-part{
    max-width: 950px;
    margin: 0 auto;
  }
  .skills-items{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 35px;
  }
  .skills-text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .skills-text p{
    padding: 15px 0;
    width: 100%;
  }
  .skills-item{
    padding: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.185);
  }
  .skills-item .skills-items-title{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--header-color);
    letter-spacing: 0%;
    line-height: auto;
    text-transform: capitalize;
    padding: 15px 0;
  }
  /* skills part End */
  /* resume part start */
  .resume{
    margin: 150px 0;
    background-color: #ffffff;
  }
  .resume-container{
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
  }
  .resume-container h2{
    text-align: center;
  }
  .resume-educatioin-experience{
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: left;
  }
  .education-info .education-title{
    font-size : 15px;
  }
  .education{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .education h4{
    font-size: 20px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
  }
  .education-info .education-title{
    font-size: 16px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
    line-height: auto;
    letter-spacing: 0%;
  }
  .education-info .education-subtitle{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: auto;
    letter-spacing: 0%;
    padding: 10px 0;
  }

  /* resume part End */
  .main-footer{
    background-color: #ffffff;
    max-width: 960px;
    margin: 50px auto;
  }
  .footer-connet p{
    padding: 15px 0;
  }
  .footer-social {
    display: flex;
    gap: 20px;
  }
  .footer-social li{
     display: inline-block;
  }
  .footer-social li a{
    display: inline-block;
  }
  .footer-container{
    display: flex;
    column-gap: 50px;
  }
  .footer-message{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer-form{
    display: flex;
    flex-direction: column;
  }
  .footer-form .input{
    padding: 15px 15px;
    margin: 10px 0;
    border: none;
  }
  .footer-form textarea{
    border: none;
    padding: 15px;
  }